{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<h1><a href="/jacket/"
       class="content__top">Одежда</a></h1>
<p class="content__info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquam aliquid amet autem commodi
    cumque doloribus eligendi fuga fugiat hic illo iste laborum mollitia, provident, quia quo, recusandae rem saepe sed
    sit soluta veniam voluptas voluptatibus. Alias distinctio eligendi error itaque necessitatibus nesciunt odit quae
    quaerat quasi quia quibusdam, quisquam reiciendis repellat velit voluptate. Accusantium consectetur culpa esse
    facilis fuga illo in, inventore, porro, quaerat quia repudiandae veritatis voluptate voluptates? Excepturi
    explicabo, quaerat. A accusamus beatae cupiditate dicta dignissimos dolor doloribus eaque eius fugit ipsam libero
    magnam magni natus non odit placeat porro quae quam, quas qui quo sequi voluptatem.</p>
{% endblock %}
