{% extends 'base.html' %}
{% block title %}
{{title}}
{% endblock %}

{% block content %}
<h1><a href="#"
       class="content__top">Обувь</a></h1>
<p class="content__info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aliquid amet, at autem
    blanditiis consequatur cum dicta excepturi expedita ipsa modi nemo nesciunt, nobis quo, ratione recusandae
    reiciendis sint soluta tempore voluptatibus. Autem commodi consequatur debitis dolorum eligendi, ex explicabo hic in
    incidunt, inventore maxime minima nobis non numquam omnis perspiciatis porro quam quasi quia quis recusandae
    reprehenderit sunt suscipit, tempore temporibus tenetur vero voluptate! Amet deserunt doloremque dolores eius eos
    odit sed tempore. Ad consequuntur eius ex laborum molestias nesciunt placeat provident quae rem, sed. Ab accusantium
    aliquid doloribus ducimus eaque earum fugit laboriosam modi molestiae nihil quaerat quis quisquam, rerum sed soluta
    sunt tempore vero. Ad adipisci animi at distinctio dolore dolores, enim eos fuga ipsam iure iusto laborum magni
    natus nesciunt nisi pariatur provident quaerat quasi quis repellat sint sunt velit voluptas. At beatae, dicta earum
    excepturi illum incidunt laboriosam laborum molestias obcaecati odio quis sunt voluptates?</p>
{% endblock %}
